* {
    margin:0;
    padding:0;
}

.header,
.footer {
    color:white;
    background-color:rgb(62, 131, 221);
}


.header-top {
    display:flex;
    justify-content:space-between;
    margin-left:100px;
    margin-right:100px;
    margin-bottom:100px;
    padding-top:20px;
}

.header-logo {
    font-size:24px;
}

.title {
    font-size:48px;
    font-weight: 800;
    color:#F9faf8;
    max-width:444px;
}

.titlesub {
    font-size:18px;
    color: #e5e7eb;
    max-width:444px;
    margin-top:20px;
}

ul {
    display:flex;
    list-style:none;
    gap:10px;
    font-size:18px;
}

a {
    text-decoration:none;
    color:white;
}

.header-body {
    display:flex;
   padding:100px;
   justify-content:space-evenly;
}

.hbr img {
    max-height:200px;
    margin-left:44px;
    width:444px;
}

button {
    background-color:#3882f6;
    color:white;
    margin-top:20px;
}

.section2 {
    display:flex;
    flex-direction:column;
    
    

}

.boxes {
    color:#1f2937;
    font-size:18px;
    display:flex;
    justify-content:space-evenly;
    padding:20px;
    
    
}

.box div {
    width:200px;
    height:200px;
    border:5px solid blue;
    border-radius: 10px;
}

.box img {
    width:200px;
    height:200px;
}

span {
    line-height:1.5em;
}

.box {
    width:220px;
}

.h2 {
    font-size:36px;
    font-weight:800;
    color:#1f2937;
    display:flex;
    justify-content:center;
    padding:20px;
}

.section3 {
    background-color:#e5e7eb;
    display:flex;
    flex-direction:column;
    
    padding:200px;
    

}

.section3 {
    display:flex;
    align-items:center;
    flex-direction:column;
}


.quote {
    font-size:36px;
    font-weight:300;
    font-style:italic;
    color:#1f2937;
    

    
    
}

.reference {
    font-weight:700;
    
    
    
}

.section4 {
    padding:55px 88px;
    display:flex;
    justify-content:center;
}

.blue {
    display:flex;
    background-color:lightblue;
    padding:30px;
    border-radius:10px;
    
}

.blue-body {
    width:800px;
}

.order {
    border-radius:10px;
    align-self:center;
    
}

.footer {
    display:flex;
    justify-content:center;
}